/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.context.example {
  height: 100%; }

@media (min-width: 1024px) {
  html,
  body {
    height: 100%; }

  .layout-container {
    height: 100vh;
    display: flex; }

  .layout-container_inner {
    flex: 1;
    display: flex; }

  .desktop-nav,
  .layout-main {
    overflow-y: scroll;
    padding: 2em; }

  .desktop-nav {
    flex: 1;
    background: #f7f7f7;
    max-width: 250px; }

  .layout-main {
    flex: 3;
    background: #f0eeee; }

  .mobile-nav, .mobile-header {
    display: none; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-header {
    position: fixed;
    width: 100%;
    background: #ccc; }

  .mobile-header_wrapper {
    display: flex;
    flex: 1;
    padding: 10px 15px; }

  .mobile-menu_title {
    flex-grow: 1; }

  .mobile-nav {
    position: fixed;
    top: 44px;
    right: 0;
    padding: 1.375em 0;
    backface-visibility: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: all 500ms cubic-bezier(0.86, 0.01, 0.77, 0.78);
    background: #000;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden; }
    .mobile-nav.is-open {
      visibility: visible;
      transform: translateX(0); }

  .layout-main {
    order: 1;
    flex: 1;
    padding-top: 44px; }

  .desktop-nav {
    display: none; } }
