---
layout: page
title: Dossiers
permalink: /dossiers
date: 2015-09-23T14:11:44-04:00
modified: 2016-03-03T10:29:27-05:00
excerpt: "Because no one likes to repeat things here's a compilation of answers to questions I'm often asked."
---

<p>Liste des dossiers et investigations, des gros morceaux sur lesquels je travaille et que je fais évoluer un peu en continu.<p>

<hr>
<br>

<div class="post-list">
  {% for post in site.studies %}
    {% include _post-card-excerpt.html %}
  {% endfor %}
</div>

