<div class="card">

  <div class="card-header">
    <h2 class="card-title">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
  </div>

  <div class="card-body">
    {{ post.excerpt }}
  </div>


  <table class="table table-meta">
    <tbody>
      <tr>
        <td>
          <span title="Date de la dernière mise à jour">
            <span class="icon icon-calendar"></span>
            {{ post.updated_at | localize: ":excerpt" }}
          </span>
        </td>
        <td>
          <span>{% include _reading_time.html.liquid content=post.content %}</span>
        </td>
        <td>
          <a href="{{ site.baseurl }}/lubies/{{post.category}}">
            <span>{{ site.data.categories[post.category].title }}</span>
          </a>
        </td>

        {% if post.tags.size > 0 %}
          <td>
            <span class="icon icon-price-tag"></span>
            {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{tag}}">
              <span>{{ tag }}</span>
            </a>
            {% endfor %}
          </td>
        {% endif %}
        <td class="table-read-link">
          <a href="{{ post.url | prepend: site.baseurl }}">
            Lire l'article
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!--
  <table class="table table-meta">
    <tbody>
      <tr>
        {% if post.tags.size > 0 %}
          <td>
            <span class="icon icon-price-tag"></span>
            {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{tag}}">
              <span>{{ tag }}</span>
            </a>
            {% endfor %}
          </td>
        {% endif %}
        <td class="table-read-link">
          <a href="{{ post.url | prepend: site.baseurl }}">
            Lire l'article
          </a>
        </td>
      </tr>
    </tbody>
  </table> -->



</div>
