<table class="table table-meta">
  <tbody>
    <tr>
      <td>
        <span title="{{include.date_title}}">
          <span class="icon icon-calendar hide-xs"></span>
          <span class="hide-xs">{{ include.display_date | localize: ":excerpt" }}</span>
          <span class="show-xs">{{ include.display_date | localize: "%d %b %y" }}</span>
        </span>
      </td>
      <td>
        <span>{% include _reading_time.html.liquid content=post.content %}</span>
      </td>
      <td>
        <a class="link-underline" href="{{ site.baseurl }}/lubies/{{post.category}}">
          <span>{{ site.data.categories[post.category].title }}</span>
        </a>
      </td>
      <!-- Hidden on mobile -->
      {% if post.tags.size > 0 %}
        <td class="hide-xs">
          <span class="icon icon-price-tag"></span>
          {% for tag in post.tags %}
          <a class="link-underline tag-list" href="{{ site.baseurl }}/tags/{{tag}}">
            <span class="">{{ tag }}</span>
          </a>
          {% endfor %}
        </td>
      {% endif %}
      <td class="table-read-link table-read-link-excerpt hide-xs">
        <a href="{{ post.url | prepend: site.baseurl }}">
          Lire l'article
        </a>
      </td>
    </tr>
    <!-- Shown on mobile -->
    <tr class="show-xs" >
      {% if post.tags.size > 0 %}
        <td colspan="2">
          <span class="icon icon-price-tag"></span>
          {% for tag in post.tags %}
          <a href="{{ site.baseurl }}/tags/{{tag}}">
            <span>{{ tag }}</span>
          </a>
          {% endfor %}
        </td>
      {% endif %}
      <td class="table-read-link table-read-link-excerpt">
        <a href="{{ post.url | prepend: site.baseurl }}">
          Lire l'article
        </a>
      </td>
    </tr>
  </tbody>
</table>
