<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Claire Zuliani" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %} {{ page.title | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ site.title | escape }} {% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}   {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% else %} {{ site.description }} {% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="fr_FR" />

  <meta name="twitter:site" content="@ZooletteDesBois" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

{% if page.title %}
    <!-- Article specific OG data -->
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{page.date}}" />
    <meta property="article:author" content="Claire Zuliani" />
    <meta property="article:publisher" content="Claire Zuliani" />
    <meta property="article:section" content="{{ site.data.categories[page.category].title }}" />
    {% for tag in page.tags %}
      <meta property="article:tag" content="{{tag}}" />
    {% endfor %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@ZooletteDesBois" />
    <meta name="twitter:title" content="{{page.title}}" />
  {% if page.ogimagenull %}
    <!-- no og image -->
  {% elsif page.ogimage %}
    <meta property="og:image" content="{{page.ogimage}}" />
      <meta name="twitter:image" content="{{page.ogimage}}" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="315" />
  {% elsif page.image %}
      <meta property="og:image" content="{{page.image}}" />
      <meta name="twitter:image" content="{{page.image}}" />
    {% else %}
      <meta property="og:image" content="{{site.url}}{{site.baseurl}}/img/marges_default.png" />
      <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/img/marges_default.png" />
    {% endif %}
      {% else %}
    <!-- OG data for homepage -->
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/img/marges_default.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/img/marges_default.png" />
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/spectre.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/icomoon.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/js/jquery-2.2.3.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>

</head>
