      <div class="menu-wrapper">
        <ul class="menu">
          <li class="menu-header">Format</li>
          <li class="menu-item">
            <a class="item" href="{{ site.baseurl }}/depeches">
              <i class="home icon"></i>
              Dépêches
            </a>
          </li>
          <li class="menu-item">
            <a class="item" href="{{ site.baseurl }}/dossiers">
              <i class="block layout icon"></i>
              Dossiers
            </a>
          </li>
        </ul>

        <ul class="menu">
        <li class="menu-header">Lubies</li>
            {% for category in site.categories %}
              {% assign lubie_name = category[0] %}
              <li class="menu-item">
              <a class="item"  href="{{ site.baseurl }}/lubies/{{category[0]}}">
                {{ site.data.categories[lubie_name].title  | capitalize}}
               <div class="label label-inverted">{{ category[1].size }}</div>
              </a>
              </li>
            {% endfor %}
        </ul>

        <ul class="menu">
          <li class="menu-header">Tags ({{site.tags.size}})</li>
          {% for tag in site.tags %}
            <li class="menu-item">
              <a class="item" href="{{ site.baseurl }}/tags/{{tag[0]}}">
               {{ tag[0] }}
               <div class="label label-inverted">{{ tag[1].size }}</div>
              </a>
            </li>
            {% endfor %}
        </ul>

      </div>