      <div class="menu">

        <a class="menu__title" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>

        <div class="menu__section">
          <p><em>Prise de notes des internets</em></p>
        </div>

        <ul class="menu__section">
          <li class="menu__header">Format</li>
          <ul class="menu">
            <li class="menu__item">
              <a class="item" href="{{ site.baseurl }}/bafouilles">
                <i class="home icon"></i>
                Bafouilles
              </a>
            </li>
            <li class="menu__item">
              <a class="item" href="{{ site.baseurl }}/dossiers">
                <i class="block layout icon"></i>
                Dossiers
              </a>
            </li>
          </ul>
        </ul>

        <ul class="menu__section">
        <li class="menu__header">Lubies</li>
          <ul class="menu">
            {% for category in site.categories %}
              {% assign lubie_name = category[0] %}
              <li class="menu__item">
              <a class="item"  href="{{ site.baseurl }}/lubies/{{category[0]}}">
                {{ site.data.categories[lubie_name].title  | capitalize}}
               <div class="ui label">{{ category[1].size }}</div>
              </a>
              </li>
            {% endfor %}
          </ul>
        </ul>

        <ul class="item">
          <li class="header">Tags ({{site.tags.size}})</li>
          <ul class="menu">
          {% for tag in site.tags %}
            <li class="menu__item">
              <a class="item" href="{{ site.baseurl }}/tags/{{tag[0]}}">
               {{ tag[0] }}
               <div class="ui label">{{ tag[1].size }}</div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </ul>

      </div>