<div class="menu-wrapper">

  <a class="menu-title  site-title" href="{{ site.baseurl }}/">
    {{ site.title }}
  </a>

  <div class="menu-section">
    <p><em>Prise de notes des internets, par <a href="www.clairezuliani.com" target="_blank">Claire Zuliani</a></em></p>
  </div>

  <ul class="menu">
    <li class="menu-header">
      Format
    </li>
    <li class="menu-item">
      <a class="item" href="{{ site.baseurl }}/depeches">
        Dépêches
        <span class="label label-inverted ">{{ site.posts.size }}</span>
      </a>
    </li>
    <li class="menu-item">
      <a class="item" href="{{ site.baseurl }}/dossiers">
        <span> Dossiers </span>
        <span class="label label-inverted ">{{ site.studies.size }}</span>
      </a>
    </li>
  </ul>

  <ul class="menu">
  <li class="menu-header"> Lubies </li>
  {% for category in site.categories %}
    {% assign lubie_name = category[0] %}
    <li class="menu-item">
      <a class="item"  href="{{ site.baseurl }}/lubies/{{category[0]}}">
        {{ site.data.categories[lubie_name].title  | capitalize}}
       <div class="label label-inverted ">{{ category[1].size }}</div>
      </a>
    </li>
  {% endfor %}
  </ul>

  <ul class="menu">
    <li class="menu-header"> Tags ({{site.tags.size}}) </li>
    {% for tag in site.tags %}
      <li class="menu-item">
        <a class="item" href="{{ site.baseurl }}/tags/{{tag[0]}}">
         {{ tag[0] }}
         <div class="label label-inverted">{{ tag[1].size }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <ul class="menu">
    <li class="menu-item">
      <a class="item" href="{{ site.baseurl }}/c-est-quoi-don">
        A propos
      </a>
    </li>
  </ul>


</div>
