article{
  h1{
    font-size: 3rem;
    span{
      background-image: linear-gradient(180deg, transparent 70%, lighten($brand-primary, 5%) 0);
    }
  }
  @include mobile {
    h1{
      font-size: 1.9rem;
      line-height: 1.4;
    }
  }
}



.post-content{
  ul {
    margin: 0rem 0 2rem 2rem;
  }
  ol ol, ol ul, ul ol, ul ul{
    margin: 0rem 0 0rem 2rem;
  }
  ol li, ul li {
    margin-top: 0.75rem;
  }

  .summary{
    &> ul > li > a{
      text-transform: uppercase;
    }
    ul{
      list-style: none;
    }
  }
}
