// Commun (ou presque)

.site-title {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.8rem;
  color: $white;
  @include transition (all 0.5s ease-in-out);
  @include computer {
    font-size: 4.5rem;
  }
  &:hover {
    color: $white;
    // color: $brand-primary;
    // border-bottom: 5px solid $white;
    // background-color: lighten($brand-primary, 5%);
  }
}

.nav {
  background-color: $brand-primary;
  color: #fff;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.layout-main {
  padding: 2rem;
  background:  $background-color;
}


// Desktop ------------------------------
 @include computer {
  html,
  body {
    height: 100%;
  }
  .layout-container {
    height: 100vh;
    display: flex;
  }

  .layout-container_inner {
    flex: 1;
    display: flex;
  }

  .desktop-nav,
  .layout-main {
    overflow-y: scroll;
  }
  .desktop-nav {
    flex: 1;
    padding: 2rem;
    // background: #f7f7f7;
    max-width: 250px;
  }
  .layout-main {
    flex: 3;
  }
  .mobile-nav, .mobile-header {
    display: none;
  }
}



//Mobile ---------------------------------
@include mobile-tablet {
  .mobile-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    // background: #ccc;
  }
    .mobile-header_wrapper {
      display: flex;
      flex: 1;
      padding: 10px 15px;
    }
    .mobile-menu_title {
      flex-grow: 1;
    }
    // .menu__icon {
    //   display: flex;
    // }
  .mobile-nav {
    position: fixed;
    top: 62px;
    right: 0;
    padding: 1rem 2rem;
    backface-visibility: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: all 500ms cubic-bezier(0.86, 0.01, 0.77, 0.78);
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    &.is-open {
      visibility: visible;
      transform: translateX(0);
    }
  }
  .layout-main {
    order: 1;
    flex: 1;
    padding-top: 62px;
  }

  .desktop-nav {
    display: none;
  }
}


// Headings -------------------------------

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

@import "menu"