// Desktop 2 ------------------------------
 @include computer {
  html,
  body {
    height: 100%;
  }
  .layout-container {
    height: 100vh;
    display: flex;
  }

  .layout-container_inner {
    flex: 1;
    display: flex;
  }

  .desktop-nav,
  .layout-main {
    overflow-y: scroll;
    padding: 2em;
  }
  .desktop-nav {
    flex: 1;
    background: #f7f7f7;
    max-width: 250px;
  }
  .layout-main {
    flex: 3;
    background: #f0eeee;
  }
  .mobile-nav, .mobile-header {
    display: none;
  }
}



//Mobile ---------------------------------
@include tablet {
  .mobile-header {
    position: fixed;
    width: 100%;
    background: #ccc;
  }
    .mobile-header_wrapper {
      display: flex;
      flex: 1;
      padding: 10px 15px;
    }
    .mobile-menu_title {
      flex-grow: 1;
    }
    // .menu__icon {
    //   display: flex;
    // }
  .mobile-nav {
    position: fixed;
    top: 44px;
    right: 0;
    padding: 1.375em 0;
    backface-visibility: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: all 500ms cubic-bezier(0.86, 0.01, 0.77, 0.78);
    background: #000;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    &.is-open {
      visibility: visible;
      transform: translateX(0);
    }
  }
  .layout-main {
    order: 1;
    flex: 1;
    padding-top: 44px;
  }

  .desktop-nav {
    display: none;
  }
}