/**
 * Links
 */
a {
    color: inherit;
    text-decoration: none;
    @include transition (all 0.5s ease-in-out);

    &:visited {
        // color: darken($brand-color, 15%);
    }

    &:hover {
      color: darken($link-color, 10%);
        // color: $text-color;
        // text-decoration: underline;
    }
}


p, li {
  a {
    outline: none;
    color: $link-color;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    font-weight: 500;

    /*&:hover{
      color: $brand-primary;
      &:before {
        transform: translateY(0);
      }
    }*/
  }

  a::before,
  a::after {
      pointer-events: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
  }

}
.link-underline:hover {
  text-decoration: underline;
}
.tag-list::after {
  content: ",";
}

.tag-list:last-child::after {
    content: "";
}
