.page-header{
  margin-bottom: 2rem;
  h1{
      text-transform: uppercase;
      font-weight: 600;
      background-size: 100% 100%;
      span{
        background-image: linear-gradient(180deg, transparent 65%, lighten($brand-primary, 5%) 0);
      }
  }

  .icon{
    font-size: 2.5rem;
    margin-right: 1rem;
    vertical-align: middle;
    color: #f15832;
    display: block;
    float: left;
  }
  .desc{
    overflow:hidden;
  }
}
