$mobile-break: 768px;
$tablet-break: 992px;


$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin computer {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}


// // tablet + desktop
// @media only screen and (min-width: $mobile-break) {
//   .main {
//     padding-top: 2.75rem;
//     margin-left: 200px;
//   }
//   .main .ui.grid.container {
//     width: 80% !important;
//   }
//   #top-menu {
//     display: none;
//   }
// }


// // desktop
// @media only screen and (min-width: $tablet-break) {

// }

// // tablet
// @media only screen and (min-width: $mobile-break) and (max-width: $tablet-break) {
//   .main .ui.grid.container {
//     width: 80% !important;
//   }

// }

// // mobile
// @media only screen and (max-width: $mobile-break) {
//   #sidemenu {
//     display: none;
//   }
// }

// // mobile + tablet
// @media only screen and (max-width: $tablet-break) {

// }


// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }


// /* Hide Top Bar */
// @media only screen and (min-width: 1145px) {
//   #example .fixed.main.menu {
//     display: none;
//   }
// }

// /* Remove Fixed Sidebar /  Show Top Bar */
// @media only screen and (max-width: 1144px) {

//   /* Hide Fixed Sidebar */
//   #example .full.height > .toc {
//     display: none;
//   }

//   /* Hide Fixed Launch Button */
//   #example .fixed.launch.button {
//     display: none !important;
//   }

//   /* Additional Padding for Fixed Menu */
//   #example .masthead.segment {
//     padding-top: 5em;
//   }

//   /* Hide GitHub Stars in Intro */
//   #example .masthead iframe {
//     display: none;
//   }

//   /* Less Left Padding */
//   #example .masthead > .container,
//   #example .main.container,
//   #example .fixed.menu > .container {
//     margin-left: 2em !important;
//   }

//   /* Padding Above Rail */
//   #example .main.container > .right.rail .sticky,
//   #example .main.container > .tab > .examples > .right.rail .sticky,
//   #example .main.container > .tab > .right.rail .sticky {
//     padding-top: 2.5em;
//   }

//   /* 100% Menu Width */
//   #example .fixed.menu > .container {
//     margin-left: 0em !important;
//     margin-right: 0em !important;
//     width: 100% !important;
//     max-width: none !important;
//   }

//   /* Remove Bug Reports */
//   #example .main.menu .bug.item {
//     display: none;
//   }

//   /* Hide Music *]/
//   #example .main.menu .music.item {
//     display: none;
//   }

//   /* Space For Header Over Examples */
//   #example .fixed.column .sticky {
//     padding-top: 2em;
//   }

// }
