.table-meta{
  font-size: 1.3rem;
  color: $brand-primary;
  margin-top: 1.5rem;
  td{
    border-top: .1rem solid $brand-primary;
    border-bottom: 0;
    padding: 0.8rem 1.5rem;
    &:not(:first-child){
      border-left: .1rem solid $brand-primary;
    }
  }
  a{
    @include transition (all 0.7s ease-in-out);
  }
  a:hover{
    color: darken($brand-primary, 10%);
  }
  .table-read-link{
    background-color: $brand-primary;
    color: #fff;
    text-align: center;
    padding: 0.8rem 1.5rem;
    @include transition (all 0.7s ease-in-out);
    cursor: pointer;
    &.table-read-link-excerpt{
      width: 100px;
      text-align: right;
    }
    &:hover{
      background-color: darken($brand-primary, 10%);
    }
    a{
      display:block;
      width: 100%;
      height: 100%;
      &:hover{
        color: #fff;
      }
    }
  }
}

article .table-meta{
  margin-top: 4rem;
}

.table-default{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  &.table th:first-child{
    min-width: 180px;
  }
  &.table td, .table th{
    padding: 0.4rem 0.3rem;
  }
}
