---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face{
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('../font/Rubik-Regular-webfont.eot');
	src: url('../font/Rubik-Regular-webfont.eot?iefix') format('eot'),
	     url('../font/Rubik-Regular-webfont.woff') format('woff'),
	     url('../font/Rubik-Regular-webfont.ttf') format('truetype'),
	     url('../font/Rubik-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 800;
	src: url('../font/Rubik-Bold-webfont.eot');
	src: url('../font/Rubik-Bold-webfont.eot?iefix') format('eot'),
	     url('../font/Rubik-Bold-webfont.woff') format('woff'),
	     url('../font/Rubik-Bold-webfont.ttf') format('truetype'),
	     url('../font/Rubik-Bold-webfont.svg#webfont') format('svg');
}

// Our variables
$base-font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #f7f4f3; // #fafad2; //#fdfdfd; // #f0eeee;
$brand-color:      #2a7ae2;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$white:             #ffffff;
$link-color: 				#5749B8;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-mobile:        768px;
$on-tablet:        992px;

$brand-primary:         #ef451a;
$brand-primary-light:   lighten($brand-primary, 5%);
$brand-primary-dark:    darken($brand-primary, 5%);



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "vendor/index",
        "responsive",
        "base",
        "link",
        "layout",
        "btn",
        "card",
        "table",
				"page",
				"content",
        "syntax-highlighting",
				"form",
				"search"
;
