<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="layout-container">

    <div class="layout-container_inner">

      <aside class="nav desktop-nav">
        {% include menu-desktop.html %}
      </aside>

      <div class="nav mobile-header">
        <div class="mobile-header_wrapper">
          <a class="mobile-menu_title site-title" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>
          <a href="javascript:void(0)" class="btn btn-link btn-lg" data-toggle="mobile-nav"><i class="icon icon-menu"></i></a>
        </div>
      </div>

      <nav class="nav mobile-nav" data-toggled="mobile-nav">
        {% include menu-mobile.html %}
      </nav>

      <div class="layout-main">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </div>

    </div>

  </div>



</body>
</html>