---
layout: base
---
<section class="post ui container">

  <header class="page-header">
    <h1 class="post-title">
      <span>{{ site.data.categories[page.category].title  | capitalize }}</span>
    </h1>

    <span class="icon icon-arrow-right2"></span>
    <p class="desc">
      {{ site.data.categories[page.category].description }}
    </p>
  </header>


  <div class="post-content">
    {% for post in site.categories[page.category] %}
      {% include _post-card-excerpt.html %}
    {% endfor %}
  </div>

</section>
