<!DOCTYPE html>
<html>

{% include head2.html %}

<body>

  <div class="container">

    <div class="container__inner">

      <aside class="desktop_nav">
        {% include menu-flex.html %}
      </aside>

      <div class="mobile_header">
        <div class="header__wrapper">
          <a class="menu__title" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>

          <div class="menu__slider">
            <a>☰</a>
          </div>
        </div>
      </div>

      <nav class="mobile_nav" data-nav="mobile">
        {% include menu-mobile.html %}
      </nav>

      <div class="main">
         {{ content }}
      </div>

    </div>

  </div>



</body>
</html>