<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- {% include header.html %} -->
<!--   <div class="ui vertical menu sticky fixed top" style="left: 0px; top: 0px; width: 250px !important; height: 1813px !important; margin-top: 0px;> -->
<div id="topmenu" class="ui fixed inverted main menu">
<div class="ui container"></div>
  <a class="launch icon item">
    <i class="content icon"></i>
  </a>
  <div class="item">
  Marges
  </div>

</div>

  <div id="sidemenu" class="ui vertical menu sticky fixed top" style="height: 100% !important; width: 200px !important;">
    <a class="active teal item">
      Inbox
      <div class="ui teal pointing left label">1</div>
    </a>
    <a class="item">
      Spam
      <div class="ui label">51</div>
    </a>
    <a class="item">
      Updates
      <div class="ui label">1</div>
    </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>


<!-- <div class="main"> -->
  <div class="ui container grid">
    {{ content }}
  </div>
<!-- </div> -->


      <!-- {% include footer.html %} -->
  </body>

</html>
